
<div class="container">


<% if params[:tag] %>
	<div class="p-tag">
	  <p>
	    <%= "##{params[:tag]}" %>
	  </p>  
	</div>
<% elsif params[:q] %>
	<div class="p-tag">
	  <p>
	    <%= "#{params[:q]}" %>
	  </p>  
	</div>
<% end %>

<% if user_signed_in? %>
	<%= current_user.name %>
	<%= link_to 'admin', admin_path %>
	<%= link_to 'logout', destroy_user_session_path, method: :delete %>
<% else %>
	<%= link_to 'login', new_user_session_path %>
<% end %>	
<br>
<br>
<% @products.each do |p| %>
	<div>
		<p>
			id: <%= p.id %><br>
			titulo: <%= p.title %>
			<%= link_to 'ver', show_product_path(p) %>
		</p>
	</div>
<% end %>


<%= will_paginate @products, page_links: true, class: "text-center will-paginate" %>

</div>