

<div class="container">
<% if @product.user %>
  <p>
    <strong>User:</strong>
    <%= @product.user.name %>
  </p>
<% end %>

  <p>
    <strong>Title:</strong>
    <%= @product.title %>
  </p>


  <p>
    <strong>Content:</strong>
    <%= sanitize @product.content %>
  </p>

  <% if @product.tags %>
    <p>
      <b>Tags:</b>
      <% @product.tags.each do |tag| %>
        <%= "##{tag.name} " %>
      <% end %>
    </p>
  <% end %>

  

  

  <p>
    <strong>Price:</strong>
    <%= @product.price %>
  </p>

  


  <p>
    <strong>Stock:</strong>
    <%= @product.stock %>
  </p>

  <p>
    <strong>Likes count:</strong>
    <%= @product.likes_count %>
  </p>

  <p>
    <strong>Category:</strong>
    <%= @product.category.name %>
  </p>

  <br><br>


  <div class="row">
    <%= form_for(@line_item, url: line_items_path(product_id: @product), class: "col s12") do |f| %>
      <div class="col s2">
        <%= f.label :quantity, 'cantidad' %>
        <%= f.number_field :quantity %>
      </div>
      <div class="col s10">
        <%= f.button "anadir al carrito", remote: false, class: "btn" %>
      </div>


    <% end %>
  </div>



  <%= link_to 'atras', :back %>

</div>

