
<nav>
  <div class="nav-wrapper container-nav">
    <a href="<%= admin_path %>" class="brand-logo">
      <%= image_tag 'logo.svg' %>
      <%= SITE_TITLE %>
    </a>
    <a href="#" data-activates="mobile1" class="button-collapse"><i class="mdi-navigation-menu"></i></a>

    <ul class="right hide-on-med-and-down">

        <li><a href="#!" class="dropdown-button" data-activates="dropdown1">Usuarios<i class="mdi-navigation-arrow-drop-down right"></i></a></li>
        <li><a href="#!" class="dropdown-button" data-activates="dropdown2">Productos<i class="mdi-navigation-arrow-drop-down right"></i></a></li>
        <li><a href="#!" class="dropdown-button" data-activates="dropdown3">Ventas<i class="mdi-navigation-arrow-drop-down right"></i></a></li>
        <li><a href="#!" class="dropdown-button" data-activates="dropdown4">Otros<i class="mdi-navigation-arrow-drop-down right"></i></a></li>

        <li class="<%= 'active' if current_page?(admin_path) %> tooltipped" data-position="bottom" data-tooltip="Reportes">
          <%= link_to admin_path, class: "" do %>
            <i class="mdi-action-trending-up"></i>
          <% end %>
        </li>
        <li class="<%= 'active' if current_page?(edit_user_registration_path) %> tooltipped" data-position="bottom" data-tooltip="Mi perfil">
          <%= link_to edit_user_registration_path do %>
            <i class="mdi-action-account-circle"></i>
          <% end %>
        </li>
        <li class="tooltipped" data-position="bottom" data-tooltip="Ir a tienda">
          <%= link_to root_path, class: "" do %>
            <i class="mdi-maps-store-mall-directory"></i>
          <% end %>
        </li>
        <li>
          <%= link_to :salir, destroy_user_session_path, method: :delete %>
        </li>
    </ul>

    <ul class="side-nav" id="mobile1">
      <li><a href="#!" class="dropdown-button">Usuarios<i class="mdi-navigation-arrow-drop-down right"></i></a></li>
    </ul>

  </div>

  <!-- Dropdowns -->
  <ul id="dropdown1" class="dropdown-content">
    <li class="<%= 'active' if current_page?(a_users_path) %>"><%= link_to "Admins", a_users_path %></li>
    <li class="<%= 'active' if current_page?(n_users_path) %>"><%= link_to "Usuarios", n_users_path %></li>
   
  </ul>

  <ul id="dropdown2" class="dropdown-content">
    <li class="<%= 'active' if current_page?(products_path) %>"><%= link_to "Productos", products_path %></li>
    <li class="<%= 'active' if current_page?(categories_path) %>"><%= link_to "Categorias", categories_path %></li>
    <li class="<%= 'active' if current_page?(tags_path) %>"><%= link_to "Tags", tags_path %></li>
    <li class="<%= 'active' if current_page?(brands_path) %>"><%= link_to "Marcas de llantas", brands_path %></li>

  </ul>

  <ul id="dropdown3" class="dropdown-content">
    <li class="<%= 'active' if current_page?(charges_path) %>"><%= link_to "Ventas", charges_path %></li>
    <li class="<%= 'active' if current_page?(products_path) %>"><%= link_to "Generar venta fisica", products_path %></li>
    <li class="<%= 'active' if current_page?(products_path) %>"><%= link_to "Generar venta fisica con factura", products_path %></li>
  </ul>
  <ul id="dropdown4" class="dropdown-content">
    <li class="<%= 'active' if current_page?(new_product_path) %>"><%= link_to "Promos", new_product_path %></li>
    <li class="<%= 'active' if current_page?(products_path) %>"><%= link_to "Páginas", products_path %></li>
  </ul>
</nav>
