<%= render 'nav' %>

	<%= search_form_for(@st, url: a_users_path, html:{class: "whiten-shadow"}) do |f| %>
		<div class="row">
			<div class="col-md-10 col-xs-9 col-sm-9">
		    <%= f.search_field :name_or_email_cont, {placeholder: "nombre o email...", class: "form-control"} %>
			</div>
			<div class="col-md-2 col-xs-3 col-sm-3 text-right">
			<% if current_user.is? :super %>
		    <%= link_to new_user_path do %>
		    		<i class="fa fa-plus plus-icon" data-toggle="tooltip" data-placement="left" title="nuevo usuario"></i>
		    <% end %>
	    <% else %>
	    	<%= f.button :search, class: "button" %>
    	<% end %>
			</div>
		</div>
  <% end %>
<div class="container-fluid">
	
	
		<table class="table table-hover">
			<thead>
				<tr>
					<th>#</th>
					<th>name</th>
					<th>email</th>
					<th colspan="3"></th>
				</tr>
			</thead>

			<tbody>
				<% @users.each do |user| %>
					<tr>
						<td><%= user.id %></td>
						<td><%= user.name %></td>
						<td><%= user.email %></td>
						<td class="">
							<%= link_to admin_show_user_path(user) do %>
										<i class="fa fa-eye" data-toggle="tooltip" data-placement="top" title="ver"></i>
									<% end %>
									<% if current_user.is? :super %>
										<%= link_to user_edit_path(user) do %>
											<i class="fa fa-edit" data-toggle="tooltip" data-placement="top" title="editar"></i>
										<% end %>
										<%= link_to user_delete_path(user), method: :delete, data: { confirm: "¿Estas seguro?"} do %>
											<i class="fa fa-close" data-toggle="tooltip" data-placement="top" title="eliminar"></i>
										<% end %>
									<% end %>
						</td>
					</tr>
				<% end %>	
			</tbody>
		</table>
		
	<%= will_paginate @users, page_links: false, class: "text-center will-paginate" %>
</div>