<%= render 'nav' %>

	<%= search_form_for(@st, url: n_users_path, html:{class: "whiten-shadow"}) do |f| %>
		<div class="row">
			<div class="col-md-11 col-xs-10 col-sm-10">
		    <%= f.search_field :name_or_email_cont, {placeholder: "busca nombre o email...", class: "form-control"} %>
			</div>
			<div class="col-md-1 col-xs-1 col-sm-1">

		    <%= f.button(class: "blank-button") do %>
		    	<i class="fa fa-search"></i>
		    <% end %>
			</div>
		</div>
  <% end %>
<div class="container-fluid">
	
		<table class="table table-hover">
			<thead>
				<tr>
					<th>#</th>
					<th>name</th>
					<th>email</th>
					<th></th>
				</tr>
			</thead>

			<tbody>
				<% @users.each do |user| %>
					<tr>
						<td><%= user.id %></td>
						<td><%= user.name %></td>
						<td><%= user.email %></td>
						<td class="">
							<%= link_to admin_show_user_path(user) do %>
										<i class="fa fa-eye" data-toggle="tooltip" data-placement="top" title="ver"></i>
									<% end %>
									<% if current_user.is? :super %>
										<%= link_to user_edit_path(user) do %>
											<i class="fa fa-edit" data-toggle="tooltip" data-placement="top" title="editar"></i>
										<% end %>
										<%= link_to user_delete_path(user), method: :delete, data: { confirm: "¿Estas seguro?"} do %>
											<i class="fa fa-close" data-toggle="tooltip" data-placement="top" title="eliminar"></i>
										<% end %>
									<% end %>
						</td>
					</tr>
				<% end %>	
			</tbody>
		</table>


		
	<%= will_paginate @users, page_links: true, class: "text-center will-paginate" %>
</div>