// Place all the styles related to the admin controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import url(http://fonts.googleapis.com/css?family=Lato:300,400);

	.brand-logo {
		img { width: 1em; vertical-align: middle;}
	}
.admin {
	background: white;
	// padding-top: 70px;
	font-family: 'Lato', verdana, arial;

	.will-paginate {
		margin: 1em 0;
	}
	.container-nav {
		padding-left: 1rem;
		padding-right: 1rem;
	}


	.search-div {
		padding: 1rem;
		i, input {
			display: inline-block;
		}
	}

	nav ul a {
		font-weight: 300;
	}

	th {
		font-weight: bold;
	}
// 	input[type="search"] {
// 		// border-color: transparent;
// 		border: 2px solid white;
// 	  background-color: white;
// 	  font-size: 1.6rem !important;
// 	  width: 100%;
// 	  padding: .8em;
// 	  -webkit-appearance: none;
// 	  -moz-appearance: none;
// 	  -ms-appearance: none;
// 	  -o-appearance: none;
// 	  appearance: none;
// 	  box-shadow: none;
// 	  border-radius: 0;
// 	  transition: all 0.2s;
// 	  &:focus {
// 	  	// border: 1px solid #654A85;
// 	  	background: white;
// 	  }
// 	}
// 	.whiten-shadow {
// 		padding: 0.5em;
// 		background: white;
// 	}

// 	.inline-div {
// 		display: inline-block;
// 		margin: 1em 2em;
// 	}
// 	.inline {
// 		display: inline-block;
// 		line-height: 5;
// 	}
// 	.button {
// 		background: white;
// 		border-radius: 0;
// 		padding: 0.5em 1em;
// 		border: 1px solid #6f5192;
// 		color: #654a85;
// 		&:hover {
// 			text-decoration: none;

// 		}
// 		span {
// 			position: relative;
// 			top: -1px;
// 			margin-left: 0.5em;
// 		}
// 	}
// 	.blank-button {
// 		background: white;
// 		border-radius: 0;
// 		padding: 0.5em 1em;
// 		border: 1px solid transparent;
// 		color: RGBA(101, 74, 133, 0.8);
// 		position: relative;
// 		right: -2em;
// 		&:hover {
// 			text-decoration: none;

// 		}
// 		.fa-search {
// 			font-size: 1.5em;
// 		}
// 	}

// 	.navbar {
// 		background: #654A85;
		
// 		margin-bottom: 0;
// 		border: none;
// 		// box-shadow: 0px 1px 2px #333;
// 		a {
// 			color: white;
// 			&:hover {color: white;}
// 		}
// 		.navbar-right {
// 			.fix {
// 				// margin-top: -19px;
// 			}
// 		}
// 	}
// 	.navbar-default {

// 		.navbar-nav>li>a {
// 			color: white;
// 			font-weight: 300;
// 			font-family: 'Lato', verdana;
// 			&:hover {
// 				color: white;
// 				background: #523c6c;
// 			}
// 		}
// 		.navbar-nav>.active>a {
// 			background: #523c6c;
// 			&:hover {background: #523c6c;}
// 		}
// 	}
// 	.dropdown-menu>li>a {
// 		color: #666;
// 	}
// 	.table {
// 		.edicion {
// 			a {
// 				margin: 0 0.5em;
// 				color: #78589e;
// 				.fa-remove {color: #EA3B3D;}
// 				i {
// 					font-size: 1.3em;
// 				}
// 			}
// 		}
// 	}
// 	.hu {
// 		// border-bottom: 3px solid #DDDDDD;
// 	}
// 	.sidebar {
// 		// position: fixed;
// 		background: green;
// 		height: 100%;
// 		margin-top: 20px;
// 		border: 1px solid blue;
// 	}
// 	.tab-filter-wrapper {
// 		width: 100%;
// 		margin-top: -20px;

//     background-color: #ffffff;
// 	  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.08);
// 	  z-index: 1;
// 	  .tab-filters {
// 	  	height: 40px;
// 	  }
// 	}
// 	table {
	  
// 		i.fa {
// 			margin: 0 0.5em;
// 		}
// 	}
// 	.plus-icon {
// 		font-size: 1.5em;
// 	  position: relative;
// 	  top: 0.34em;
// 	  right: 0.5em;
// 	  color: #654A85;
// 	}
	
// }

// .padding-log-in {
// 	padding: 5em 0;
// 	max-width: 330px;
// 	padding: 15px;
// 	margin: 0 auto;
// 		h2, .check-box {margin-bottom: 1em;}
// 		.check-box {
// 			font-weight: normal;
// 		}
// 	input[type="email"]{
// 		margin-bottom: -1px;
// 		border-bottom-right-radius: 0;
// 		border-bottom-left-radius: 0;
// 	}
// 	input[type="password"]{
// 		margin-bottom: 10px;
// 		border-top-right-radius: 0;
// 		border-top-left-radius: 0;
// 	}
// 	.form-control {
// 		position: relative;
// 		height: auto;
// 		padding: 10px;
// 		font-size: 16px;
// 		box-sizing: border-box;
// 		-webkit-box-sizing: border-box;
// 		-moz-box-sizing: border-box;
// 		&:focus {
// 			z-index: 2;
// 		}
// 	}
// }

// .log-in {
// 	height: 700px;
// 	background: asset-url('back-blue.jpg') no-repeat;
// 	background-position: center;
// 	background-size: 100% 100%;
// 	font-family: 'Lato', verdana;

// 	h2 {
// 		// color: white;
// 		color: #323E8F;
// 		font-weight: 300;
// 	}
// 	.padding-log-in {
// 		background: white;
// 		border-radius: 5px;
// 	}
// 	.logo-pan {
// 		padding: 2em 0;
// 		img {max-width: 100%; width: 100px;}
// 	}
}