<%= render 'admin/nav' %>

<div class="container">

<p>
	<%= @brand.name %>
</p>
<p>
	<%= @brand.desc %>
</p>

<%= link_to 'Edit', edit_brand_path(@brand) %> |
<%= link_to 'Back', brands_path %>
</div>
