<%= render 'admin/nav' %>

<div class="container">
	<p>
	  <strong>Name:</strong>
	  <%= @category.name %>
	</p>

	<p>
	  <strong>Desc:</strong>
	  <%= @category.desc %>
	</p>

	<%= link_to 'Edit', edit_category_path(@category) %> |
	<%= link_to 'Back', categories_path %>
</div>
