<%= form_for(@product) do |f| %>
  <% if @product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
      <% @product.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  
  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>

  <div class="text-area-content">

    <%= render 'shared/text_editor' %>
    <%= f.text_area :content, placeholder: "contenido", id: "textarea" %>
  </div>










  <div class="field">
    <%= f.check_box :published %>
    <%= f.label :published, "publicado?" %>
  </div>
  <div class="field">
    <%= f.label :published_at %><br>
    <%= f.date_field :published_at, class: "datepicker" %>
  </div>
  <div class="field">
    <%= f.label :sku %><br>
    <%= f.text_field :sku %>
  </div>
  <div class="field">
    <%= f.label :weight %><br>
    <%= f.text_field :weight %>
  </div>
  <div class="field">
    <%= f.label :price %><br>
    <%= f.text_field :price %>
  </div>
  <div class="field">
    <%= f.label :cost_price %><br>
    <%= f.text_field :cost_price %>
  </div>
  <div class="field">
    <%= f.check_box :featured %>
    <%= f.label :featured, "Descatado?" %>
  </div>
  <div class="field">
    <%= f.label :stock %><br>
    <%= f.number_field :stock %>
  </div>
  <div class="field">
    <%= f.label :ancho %><br>
    <%= f.number_field :ancho %>
  </div>
  <div class="field">
    <%= f.label :perfil %><br>
    <%= f.number_field :perfil %>
  </div>
  <div class="field">
    <%= f.label :rin %><br>
    <%= f.number_field :rin %>
  </div>
  <div class="field">
    <%= f.label :tire_model_brand, "nombre modelo" %>
    <%= f.text_field :tire_model_brand %>
  </div>
  <div class="field">
    <%= f.label :performance_km %><br>
    <%= f.number_field :performance_km %>
  </div>
  <div class="field">
    <%= f.label :performance_cold %><br>
    <%= f.number_field :performance_cold %>
  </div>
  <div class="field">
    <%= f.label :performance_dry %><br>
    <%= f.number_field :performance_dry %>
  </div>
  <div class="field">
    <%= f.label :performance_wet %><br>
    <%= f.number_field :performance_wet %>
  </div>

 

  <p>
    <%= f.label :tag_ids, "tags" %>
    <%= f.select :tag_ids, Tag.all.collect {|x| [x.name, x.id] }, 
                                        {}, 
                                        { multiple: true, class: "chosen-select"} %>
  </p>

  <div class="field">
    <%= f.label :brand, "Marca" %><br>
    <%= f.collection_select(:brand_id, Brand.all, :id, :name, {include_blank: true}) %>
  </div>
  
  <div class="field">
    <%= f.label :category, "Categoria" %><br>
    <%= f.collection_select(:category_id, Category.all, :id, :name, { include_blank: true}) %>
  </div>


  <input class="radius" type="text" name="product[card_number]" data-conekta="card[number]" placeholder="Numero de tarjeta de crédito">

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>


<script type="text/javascript">
  var editor = new wysihtml5.Editor("textarea", {
    toolbar:        "toolbar",
    parserRules:    wysihtml5ParserRules
  });
</script>





