<%= render 'admin/nav' %>

<div class="fixed-action-btn" style="bottom: 45px; right: 24px;">
  <a href="<%= new_product_path %>" class="btn-floating btn-large waves-effect waves-light red tooltipped" data-position="left" data-tooltip="Producto nuevo"><i class="mdi-content-add"></i></a>

</div>

  <div class="search-div red lighten-4 row">
    <div class="col s9">
      <input type="text" class="" placeholder="busqueda" >
    </div>
    <div class="col s3">
      <a href="<%= root_path %>" class="mdi-action-search btn"><i class=""></i></a>
      <a href="<%= root_path %>" class="mdi-action-settings btn"><i class=""></i></a>
    </div>
  </div>

    <div class="container">

      <div class=" row">


        <h5 class="center-align white-text">Busqueda</h5>
          <%= search_form_for(@st, html:{class: ""}) do |f| %>
            <div class="row">
              <div class="input-field col s12">
                <%= f.text_field :title_or_sku_cont, class: "validate" %>
                <label>palabras</label>
                
              </div>
              <div class="input-field col s2">
                <%= f.collection_select(:category_id_eq, Category.all, :id, :name, {include_blank: true}) %>
                <label>categoria</label>
              </div>
              <div class="input-field col s2">
                <%= f.text_field :price_eq, class: "validate" %>
                <label>precio</label>
              </div>
              <div class="input-field col s2">
                <%= f.text_field :weight_eq, class: "validate" %>
                <label>peso</label>
              </div>
           
              <div class="input-field col s2">
                <%= f.collection_select :brand_id_eq, Brand.all, :id, :name, {include_blank: true} %>
                <label>marca</label>
              </div>
              <div class="input-field col s2">
                <%= f.number_field :ancho_eq, class: "validate" %>
                <label>ancho</label>
              </div>
              <div class="input-field col s2">
                <%= f.number_field :perfil_eq, class: "validate" %>
                <label>perfil</label>
              </div>
              <div class="input-field col s2">
                <%= f.number_field :rin_eq, class: "validate" %>
                <label>rin</label>
              </div>
              <div class="col s2">
                <%= f.check_box :published_true, checked: true %>
                <%= f.label :published_true, "publicado" %>
              </div>
               
            </div>
              <%= f.button "Busqueda", class: "btn" %>
              <%= link_to "restablecer", products_path, class: "btn-flat white-text" %>
          <% end %>

      </div>
      
      <table class="bordered centered">
        <thead>
          <tr>
            <th data-field="sku">Sku</th>
            <th><%= sort_link(@st, :stock) %></th>
            <th>titulo</th>
            <th><%= sort_link(@st, :published, "publicado?") %></th>
            <th><%= sort_link @st, :price, "precio" %></th>
            <th><%= sort_link @st, :category, "categoria" %></th>
            <th colspan="3"></th>
          </tr>
        </thead>

        <tbody>
          <% @products.each do |product| %>
            <tr class="">
              <td><%= product.sku %></td>
              <td><%= product.stock %></td>
              <td><%= product.title %></td>
              <td><%= product.published %></td>
              <td><%= product.price %></td>
              <td><%= product.category.name %></td>
              <td><%= link_to 'Show', product_path(product) %></td>
              <td><%= link_to 'Edit', edit_product_path(product) %></td>
              <td><%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            </tr>
          <% end %>
        </tbody>
      </table>

      <%= will_paginate @products, page_links: true, class: "text-center will-paginate" %>


    </div>



