<%= render 'admin/nav' %>

<div class="container">
<% if @product.user %>
  <p>
    <strong>User:</strong>
    <%= @product.user.name %>
  </p>
<% end %>

  <p>
    <strong>Title:</strong>
    <%= @product.title %>
  </p>


  <p>
    <strong>Content:</strong>
    <%= sanitize @product.content %>
  </p>

  <p>
    <strong>Published:</strong>
    <%= @product.published %>
  </p>

  <p>
    <strong>Created at:</strong>
    <%= local_time @product.created_at %>
  </p>
  <p>
    <strong>Published at:</strong>
    <%= local_time @product.published_at %>
  </p>

  <p>
    <strong>Sku:</strong>
    <%= @product.sku %>
  </p>

  <p>
    <strong>Weight:</strong>
    <%= @product.weight %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= @product.price %>
  </p>

  <p>
    <strong>Cost price:</strong>
    <%= @product.cost_price %>
  </p>

  <p>
    <strong>Featured:</strong>
    <%= @product.featured %>
  </p>

  <p>
    <strong>Stock:</strong>
    <%= @product.stock %>
  </p>

  <p>
    <strong>Likes count:</strong>
    <%= @product.likes_count %>
  </p>

  <p>
    <strong>Brand:</strong>
    <%= @product.brand.name %>
  </p>


  <p>
    <strong>Category:</strong>
    <%= @product.category.name %>
  </p>

  <p>
    <b>tags:</b>
    <% @product.tags.each do |t| %>
      <%= t.name %>
    <% end %>
  </p>

 

  <%= link_to 'atras', :back %>

</div>

