<% if @cart.line_items.empty? %>
	<div id="cart">
		Carrito vacio
	</div>
<% else %>
	<div id="cart">
		<table>
			<thead>
				<th>ITEM</th>
				<th></th>
				<th>PRECIO</th>
				<th></th>
			</thead>
			<tbody>
				<% @cart.line_items.each do |item| %>
					<tr>
						<td>x<%= item.quantity %></td>
						<td><%= item.post.title %></td>
						
						<td>$ <%= item.total_price_line %></td>
						<td><%= link_to "x", item, method: :delete, data: {confirm: "Estas seguro?"}, remote: true %></td>
					</tr>
				<% end %>

			</tbody>
			<tfoot>
				<tr class="total_line">
					<td></td>
					<td class="total">TOTAL </td>
					<td class="total_cell"> $<%= @cart.total_price_cart %></td>
				</tr>
			</tfoot>

		</table>
			<%= link_to 'Ir a carrito', cart_charges_path, class: "button green small radius expand" %>
			<%= link_to 'Vaciar carrito', @cart, method: :delete, data: {confirm: 'Estas seguro?'}, remote: true, class: "button red tiny radius expand" %>
	</div>
<% end %>