<p id="notice"><%= notice %></p>

<p>
  <strong>Cart:</strong>
  <%= @line_item.cart %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @line_item.quantity %>
</p>

<p>
  <strong>Price:</strong>
  <%= @line_item.price %>
</p>

<p>
  <strong>Post:</strong>
  <%= @line_item.post %>
</p>

<p>
  <strong>Charge:</strong>
  <%= @line_item.charge %>
</p>

<p>
  <strong>Property:</strong>
  <%= @line_item.property %>
</p>

<%= link_to 'Edit', edit_line_item_path(@line_item) %> |
<%= link_to 'Back', line_items_path %>
