<%= form_for(@charge) do |f| %>
  <% if @charge.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@charge.errors.count, "error") %> prohibited this charge from being saved:</h2>

      <ul>
      <% @charge.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :full_address %><br>
    <%= f.text_area :full_address %>
  </div>
  <div class="field">
    <%= f.label :colonia %><br>
    <%= f.text_field :colonia %>
  </div>
  <div class="field">
    <%= f.label :city %><br>
    <%= f.text_field :city %>
  </div>
  <div class="field">
    <%= f.label :country %><br>
    <%= f.text_field :country %>
  </div>
  <div class="field">
    <%= f.label :state %><br>
    <%= f.text_field :state %>
  </div>
  <div class="field">
    <%= f.label :zip_code %><br>
    <%= f.number_field :zip_code %>
  </div>
  <div class="field">
    <%= f.label :phone_number %><br>
    <%= f.number_field :phone_number %>
  </div>
  <div class="field">
    <%= f.label :status %><br>
    <%= f.text_field :status %>
  </div>
  <div class="field">
    <%= f.label :ship_number %><br>
    <%= f.text_field :ship_number %>
  </div>
  <div class="field">
    <%= f.label :delivery_service %><br>
    <%= f.text_field :delivery_service %>
  </div>
  <div class="field">
    <%= f.label :conekta_id %><br>
    <%= f.text_field :conekta_id %>
  </div>
  <div class="field">
    <%= f.label :livemode %><br>
    <%= f.text_field :livemode %>
  </div>
  <div class="field">
    <%= f.label :conekta_status %><br>
    <%= f.text_field :conekta_status %>
  </div>
  <div class="field">
    <%= f.label :amount %><br>
    <%= f.number_field :amount %>
  </div>
  <div class="field">
    <%= f.label :currency %><br>
    <%= f.text_field :currency %>
  </div>
  <div class="field">
    <%= f.label :payment_type %><br>
    <%= f.text_field :payment_type %>
  </div>
  <div class="field">
    <%= f.label :payment_barcode %><br>
    <%= f.text_field :payment_barcode %>
  </div>
  <div class="field">
    <%= f.label :payment_bar_url %><br>
    <%= f.text_field :payment_bar_url %>
  </div>
  <div class="field">
    <%= f.label :user_id %><br>
    <%= f.text_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :counter %><br>
    <%= f.number_field :counter %>
  </div>
  <div class="field">
    <%= f.label :stock_discounted %><br>
    <%= f.check_box :stock_discounted %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
