<%= render 'admin/nav' %>

<div class="container">

  <h1>Listing Charges</h1>

  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>City</th>
        <th>State</th>
        <th>Status</th>
        <th>Ship number</th>
        <th>Delivery service</th>
        <th>Amount</th>
        <th>Payment type</th>
        <th>User</th>
        <th>Stock discounted</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @charges.each do |charge| %>
        <tr>
          <td><%= charge.name %></td>
          <td><%= charge.city %></td>
          <td><%= charge.state %></td>
          <td><%= charge.status %></td>
          <td><%= charge.ship_number %></td>
          <td><%= charge.delivery_service %></td>
          <td><%= charge.amount %></td>
          <td><%= charge.payment_type %></td>
          <td><%= charge.user %></td>
          <td><%= charge.stock_discounted %></td>
          <td><%= link_to 'Show', charge %></td>
          <td><%= link_to 'Edit', edit_charge_path(charge) %></td>
          <td><%= link_to 'Destroy', charge, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>


</div>

