<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
  <title><%= SITE_TITLE %></title>
  <meta name="description" content="<%= META_DESCRIPTION %>">
  <meta name="keywords" content="<%= META_KEYWORDS %>">
  <link rel="shortcut icon" href="<%= asset_path 'h-fav.png' %>">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.96.1/css/materialize.min.css">

  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.96.1/js/materialize.min.js"></script>
  
  <%= csrf_meta_tags %>
</head>
<body class="<%= @body_class ? @body_class : 'default' %>">
	
<% flash.each do |key, value| %>
  <div class="text-center <%= flash_class(key) %>">
    <%= value %>
  </div>
<% end %>


<%= render 'shared/analytics' %>


<%= render 'shared/menu_box' %>
<%= render 'shared/cart_box' %>

<main id="main">
	<%= yield %>
</main>	

</body>
</html>
